"*":
  "exception-reporting":
    userId: "9a88d11b-661d-07fd-b8ce-beb6e90b5931"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
    fontSize: 19
    fontFamily: "Ubuntu Mono"
